body {
    background-color: rgb(228, 220, 220);
    align-content: center;
}

header,footer {
    text-align: center;
}
#calculatorframe {
    background-color: #237682;
    width: 300px;
    height: 500px;
    margin: auto;
    padding: 10px;
    border: transparent;
    border-width: 0.5px;
    /*border-color:rgb(199, 190, 190);*/
    border-radius: 10px;
    box-shadow: 10px 6px 40px rgb(65, 62, 62), inset 7px 7px 10px #2a8e9e, inset -7px -7px 10px #004e89;
    align-content: center;
}

#show-exercise {
    background-color: rgb(199, 189, 189);
    height: 20px;
    width: 280px;
    box-shadow: 4px 4px inset rgb(65, 62, 62);
    padding: 5px;
    margin: auto;
    margin-bottom: -10px;
    letter-spacing:1px;
}

#calculatorframe>div>p {
    margin: 2px;
    width: 100%;
    text-align: right;
}

#show-exercise>p {
    font-size: 18px;
}

#show-result {
    background-color: rgb(216, 205, 205);
    height: 40px;
    width: 280px;
    box-shadow: 4px 4px inset rgb(65, 62, 62);
    padding: 5px;
    margin: auto;
    letter-spacing: 3px;
}

#show-result>p {
    font-size: 36px;
}

#calc-board {
    width: 280px;
    height: 380px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px 10px;
    grid-template-areas: "AC CE divide multiply-a" "seven eight nine minus" "four five six plus" "one two three equal" "zero-a zero-a dot-a equal";
}

button {
    width: 55px;
    height: 55px;
    background-color: rgb(39, 38, 38);
    color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(65, 62, 62), inset 2px 2px 3px rgb(179, 167, 167);
    font-size:30px;
}

button:hover {
    background-color: rgb(8, 7, 7);
    box-shadow: 1px 1px rgb(65, 62, 62), inset 1px 1px 1px rgb(179, 167, 167);
}

.AC-button-class {
    grid-area: AC;
}

.ZERO-button-class {
    grid-area: zero-a;
    width: 130px;
}

.ONE-button-class {
    grid-area: one;
}

.TWO-button-class {
    grid-area: two;
}

.THREE-button-class {
    grid-area: three;
}

.FOUR-button-class {
    grid-area: four;
}

.FIVE-button-class {
    grid-area: five;
}

.SIX-button-class {
    grid-area: six;
}

.SEVEN-button-class {
    grid-area: seven;
}

.EIGHT-button-class {
    grid-area: eight;
}

.NINE-button-class {
    grid-area: nine;
}

.EQUAL-button-class {
    grid-area: equal;
    height: 130px;
}

.CE-button-class {
    grid-area: CE;
}

.DIVIDE-button-class {
    grid-area: divide;
}

.MULTIPLY-button-class {
    grid-area: multiply-a;
}

.MINUS-button-class {
    grid-area: minus;
}

.PLUS-button-class {
    grid-area: plus;
}

.DOT-button-class {
    grid-area: dot-a;
}



